<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <style>
      .page-header a {
        color: white;
      }
      .speakers, .instructor {
        margin-top: 10px;
      }
      .speakers span, .instructor span {
        font-weight: bold;
        font-style: italic;
      }
      .button-divider {
        margin-top: 20px;
      }
      .no-select {
        user-select: none;
      }
    </style>
  </head>
  <body class="no-select">
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <p class="speakers">Speakers: <span><a href="https://www.linkedin.com/in/amitava-roy-8772868a">Dr. Amitava Roy</a></span>, <span><a href="https://iub.ac.bd/academics/departments/cse/faculty-and-staff/aminali">Prof. Amin Ahsan Ali</a></span>, <span><a href="https://www.bracu.ac.bd/about/people/tibra-ali-phd">Prof. Tibra Ali</a></span> (Organizer)</p>
      <p class="instructor">Instructors: <span><a href="https://www.mirsazzathossain.me/">Mir Sazzat Hossain</a></span>, <span><a href="https://rafathasan.github.io">Rafat Hasan Khan</a></span>, <span><a href="https://bd.linkedin.com/in/sakibul-islam-shishir">Md Sakibul Islam</a></span>, <span><a href="https://bd.linkedin.com/in/sahadot-hossen-841598280">Sahadot Hossen</a></span></p>
      <div class="button-divider"></div>
      {% if site.github.is_project_page %}
        <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
      {% endif %}
      <a href="#resources" class="btn">Resources</a>
      <a href="#participants" class="btn">Participants</a>
      <a href="#event-photos" class="btn">Photos</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
